<h2>{{t 'admin.codeproject.title'}}</h2>

<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Folder</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each record in data.codeproject}}
      <tr>
        <th>
          {{#link-to 'codeProject' record.name}}
            {{record.name}}
          {{/link-to}}
        </th>
        <td>
          {{record.folder}}
        </td>
        <td>
          {{record.description}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

